/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}


header > ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

header ul li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #000000;
}

header .button {
    padding: 5px 10px;
}

/* Common */

.bcontainer {
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 1000px;
    margin: 0 auto;
}


.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}


.button {
    padding: 15px 18px;
    background-color: #0061fe;
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    filter: brightness(1.4);
}


img {
    display: block;
    max-width: 100%;
}


/* Debug */

/* Jumbotron */

.jumbotron {
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

h1 {
    margin-bottom: 50px;
    font-size: 60px;
}

.jumbotron .jumboinfo {
    display: flex;
}

.jumbotron .jumboleft {
    width: 30%;
}

.jumbotron .jumboright {
    width: 70%;
}

.jumbotron .bcontainer {
    position: relative;
    top: 100px;
}

.btn {
    margin-top: 40px;
}




 
hr {
    margin-top: 120px;
}

/* Main */

/* Prima griglia */


h2 {
    font-size: 25px;
    margin-top:120px;
    padding-bottom: 70px;
}

.container > .payment {
    margin-right: 50px;
}

.paymentmethods {
    display: flex;
    gap: 40px;
}

.col {
    height: 950px;
    border: 1px solid grey;
    width: calc(100% - 40px /3);
    background-color: #b4d0e6;
    margin-top: 50px;
}

.client {
    padding: 10px 40px;
    text-align: center;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

/* Seconda griglia */

.container .row > .col {
    height: 250px;
    width: 100%px;
}

/* Foto e testo */

.partner .container {
    display: flex;
    height: 500px;
    margin-top: 200px;
}

.partner .text, .partner .img {
    width: 50%;
}

.partner .text {
    height: 500px;
    background-color: #3491db;
}

.partner .container .img {
    height: 500px;
    background-color: grey;
}

/* Griglia a sei */

.business > .col {
    height: 500px;
}

/* Ultima sezione main */

.container > .marketing {
    width: 600px;
}

.marketing > h3 {
    font-size: 30px;
    margin-top: 200px;
    margin-bottom: 70px;
}

/* Footer prima parte */

footer {
    background-color: black;
    margin-top: 150px;
}

footer .bcontainer {
    padding-top: 100px;
    display: flex;
}

footer ul {
    width: 1200px;
    height: 350px;
    background-color: #b4d0e6;
    border: 1px solid black;
}

/* Footer seconda parte */

.it {
    background-color: #3491db;
}

.it .bcontainer {
    height: 120px;
    padding-top: 60px;
}

.language > a {
    text-decoration: none;
}





