/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 80px;
    background-color:burlywood;
}

header > .hcontainer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.hcontainer > ul {
    display: flex;
    gap: 40px;
}

.hcontainer ul li {
    list-style-type: none;
}

/* Common */

.containerbig {
    width: 1200px;
    margin: 0 auto;
}


/* Debug */

/* Jumbotron */

.debug .jumbotron {
    height: 730px;
    background-color: #b4d0e6;
}

.jumbotron > .containerbig {
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    display: flex;
}

.text {
    width: 400px;
    background-color: #3491db;

}

.img {
    width: 800px;
    background-color: #ffffff;

}

h1 {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 70px;
}
 
hr {
    margin-top: 120px;
 }

/* Main */

/* Prima griglia */


h2 {
    font-size: 25px;
    padding-top:120px;
    padding-bottom: 70px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container > .payment {
    margin-right: 50px;
}

.paymentmethods {
    display: flex;
    gap: 40px;
}

.col {
    height: 950px;
    border: 1px solid grey;
    width: calc(100% - 40px /3);
    background-color: #b4d0e6;
    margin-top: 50px;
}

.client {
    padding: 10px 40px;
    text-align: center;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

/* Seconda griglia */

.container .row > .col {
    height: 250px;
    width: 1000px;
}

/* Foto e testo */

.partner .container {
    display: flex;
    height: 500px;
    margin-top: 200px;
}

.partner .text {
    height: 500px;
    width: 500px;
    background-color: #3491db;
}

.partner .container .img {
    height: 500px;
    width: 500px;
    background-color: grey;
}

/* Griglia a sei */

.business > .col {
    height: 500px;
}





